extends layout.pug

block content
    section#content
        if name
            h3 Welcome #{name}
        else
            form(action="/hello", method="post")
                p username:
                    input(type="text", name="name")
                    input(type="submit", value="Submit")